
<ul>
  {{#each model.posts as |post|}}
    {{post-tile post=post}}
  {{/each}}
</ul>

{{new-post savePost2="savePost3"}}

<!-- <h2> All Comments </h2>

<ul>
  {{#each model.comments as |comment|}}
    <li>{{comment.content}} - by {{comment.author}}</li>
  {{/each}}
</ul> -->
