<h2><em>{{model.title}}</em></h2>


{{post-detail post=model destroyPost="destroyPost" destroyComment="destroyComment"}}
<br>
{{update-post post=model update="update"}}

{{new-comment saveComment="saveComment" post=model}}
